body{
    background-color: lightcyan;
    font-family: Helvetica;
}

h1{
    font-size: 20px;
    font-family: Helvetica;
}

#resultado{
    white-space: nowrap;
}

.fib-number {
    display: inline-block; /* Display numbers in a line */
    margin-right: 1px; /* Add space between numbers */
    min-width: 50px; /* Minimum width for each number container */
    max-width: 100px; /* Maximum width for each number container */
    font-size: 1em; /* Default font size */
    line-height: 1.5em; /* Line height to add space between lines */
    text-align: center; /* Center-align the numbers */
}