#box {
    display: box;
    background-color: darksalmon;
    font-family: Helvetica, sans-serif;
    border: 2px solid black;
    padding: 10px;
    margin: 10%;
}

#title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}