h3, .lorem-text{
    font-family: Helvetica;
    font-size: 30px;
    text-align: center;
    background-color: lightblue;
    padding: 10px;
    margin: 1% 25%;
    padding-bottom: 5px;
    border: 1px solid black;
}

.block{
    text-align: center;
    margin: 10px;
}
    
.btn{
    display: block;
    margin: 0 auto;
}

.lorem-text{
    font-size: 15px;
}

* {
    box-sizing: border-box;
}