body{
    font-family: Helvetica;
}

h1{
    text-align: center;
    font-size: 30px;
    color: #000;
    padding: 20px;
    padding-bottom: 15px;
    border: 1px solid #000;
    margin: 1% 20%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

