.container2, .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    background-color: lightblue;
    height:30vh;
    border: 1px solid black;
    margin-top: 5vh;
}

h1 {
    font-family: Helvetica;
    font-size: 30px;
    text-align: center;
    background-color: lightblue;
    border: 1px solid black;
    padding-top: 5px;
}

body {
    margin: 5vh 60vh;
    font-family: Helvetica;
}

p {
    text-align: left;
}
